{{- if .Values.proxysql.enabled }}
apiVersion: k8s.mariadb.com/v1alpha1
kind: User
metadata:
  name: {{ include "mariadb-cluster.proxysql.monitorUserName" . }}
  namespace: {{ include "mariadb-cluster.namespace" . }}
  labels:
    {{- include "mariadb-cluster.proxysql.labels" . | nindent 4 }}
spec:
  mariaDbRef:
    name: {{ include "mariadb-cluster.fullname" . }}
  name: {{ .Values.proxysql.monitor.username }}
  passwordSecretKeyRef:
    name: {{ include "mariadb-cluster.proxysql.monitorSecretName" . }}
    key: {{ .Values.proxysql.monitor.secretKey | default "password" }}
  host: "%"
  maxUserConnections: {{ .Values.proxysql.monitor.maxUserConnections | default 10 }}
  cleanupPolicy: Delete
---
apiVersion: k8s.mariadb.com/v1alpha1
kind: Grant
metadata:
  name: {{ include "mariadb-cluster.proxysql.monitorUserName" . }}
  namespace: {{ include "mariadb-cluster.namespace" . }}
  labels:
    {{- include "mariadb-cluster.proxysql.labels" . | nindent 4 }}
spec:
  mariaDbRef:
    name: {{ include "mariadb-cluster.fullname" . }}
  privileges:
    - "REPLICATION CLIENT"
    - "SUPER"
  database: "*"
  table: "*"
  username: {{ .Values.proxysql.monitor.username }}
  host: "%"
  grantOption: false
  cleanupPolicy: Delete
{{- end }}
