{{- if .Values.proxysql.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mariadb-cluster.proxysql.name" . }}-credentials
  namespace: {{ include "mariadb-cluster.namespace" . }}
  labels:
    {{- include "mariadb-cluster.proxysql.labels" . | nindent 4 }}
type: Opaque
stringData:
  admin-password: {{ include "mariadb-cluster.proxysql.adminPassword" . }}
  cluster-password: {{ include "mariadb-cluster.proxysql.clusterPassword" . }}
  monitor-password: {{ include "mariadb-cluster.proxysql.monitorPassword" . }}
  {{- range .Values.proxysql.users }}
  {{- if .password }}
  user-{{ .username | toString | replace "-" "_" }}-password: {{ .password }}
  {{- end }}
  {{- end }}
---
{{- if not .Values.proxysql.monitor.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mariadb-cluster.proxysql.monitorSecretName" . }}
  namespace: {{ include "mariadb-cluster.namespace" . }}
  labels:
    {{- include "mariadb-cluster.proxysql.labels" . | nindent 4 }}
type: Opaque
stringData:
  password: {{ include "mariadb-cluster.proxysql.monitorPassword" . }}
{{- end }}
{{- end }}
